name: Deploy

on:
  push:
  workflow_dispatch:
  schedule:
    - cron: 15,45 * * * *

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Check out
        uses: actions/checkout@v3

      - name: Check out dist
        uses: actions/checkout@v3
        with:
          ref: dist
          path: dist

      - name: Set up Node
        uses: actions/setup-node@v2
        with:
          node-version: 16

      - name: Install
        run: yarn

      - name: Sync
        id: sync
        run: yarn sync

      - name: Deploy registry
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ steps.sync.outputs.update }}
        with:
          github_token: ${{ secrets.WORKFLOW_TOKEN }}
          publish_dir: dist
          publish_branch: dist
          user_name: GitHub Actions
          user_email: actions@github.com
          force_orphan: true
          enable_jekyll: true

      - name: Deploy vercel
        if: ${{ steps.sync.outputs.update }}
        run: vercel deploy dist -A vercel/registry.json --token ${{ secrets.VERCEL_TOKEN }} --prod --yes

      - name: Deploy playground
        if: ${{ steps.sync.outputs.playground }}
        run: >
          curl
          -X POST
          -H "Accept: application/vnd.github+json"
          -H "Authorization: token ${{ secrets.WORKFLOW_TOKEN }}"
          https://api.github.com/repos/koishijs/registry/actions/workflows/playground.yml/dispatches
